:root {
  --wtmInfoFS_Day: 0.032;
  --wtmInfoFS_Date: 0.016;
  --wtmInfoFS_Time: 0.032;
  --wtmInfoFS_Period: 0.018;
  --wtmInfoFS_Temp: 0.042;
  --wtmInfoFS_TempName: 0.028;
  --wtmInfoFS_MaxTemp: 0.028;
  --wtmInfoFS_MinTemp: 0.028;

  --wtmInfoTextShadow: 0.1vw 0.1vw 0.05vw #00000066;
  --wtmHourlyTextShadow: 0.1vw 0.1vw 0.05vw #00000066;
}
.weatherTileMain {
  grid-area: 1 / 1 / 3 / 2;
}
.weatherTileMain {
  background-color: #eee;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 0.3vw;
  box-shadow: 0px 0px 12px -2px #000;
  color: #fff;
  overflow: hidden;
}
.weatherTileMain .weatherInfo {
  padding: 8% 8% 0 8%;
  box-sizing: border-box;
  width: 100%;
  height: 70%;
}
/* Weather date & time */
.weatherTileMain .weatherInfo_date {
  display: grid;
  grid-template: 2fr 1fr / 1fr 1fr;
  width: 100%;
  height: 20%;
}
.weatherTileMain .weatherInfo_date div {
  width: 100%;
  height: 100%;
  margin: 0;
}
.weatherTileMain .weatherInfo_date .day {
  font-size: clamp(calc(var(--WeatherTiles_width) * 1.5vh * var(--wtmInfoFS_Day)), calc(var(--WeatherTiles_width) * 1vw * var(--wtmInfoFS_Day)), calc(var(--WeatherTiles_width) * 2.5vh * var(--wtmInfoFS_Day)));
  font-weight: 700;
  text-shadow: var(--wtmInfoTextShadow);
}
.weatherTileMain .weatherInfo_date .date {
  grid-area: 2 / 1 / 3 / 3;
  color: #ffffffb3;
  font-size: clamp(calc(var(--WeatherTiles_width) * 1.5vh * var(--wtmInfoFS_Date)), calc(var(--WeatherTiles_width) * 1vw * var(--wtmInfoFS_Date)), calc(var(--WeatherTiles_width) * 2.5vh * var(--wtmInfoFS_Date)));
  text-shadow: var(--wtmInfoTextShadow);
}
.weatherTileMain .weatherInfo_date .time {
  display: flex;
  justify-content: flex-end;
  font-size: clamp(calc(var(--WeatherTiles_width) * 1.5vh * var(--wtmInfoFS_Time)), calc(var(--WeatherTiles_width) * 1vw * var(--wtmInfoFS_Time)), calc(var(--WeatherTiles_width) * 2.5vh * var(--wtmInfoFS_Time)));
  font-weight: 700;
  text-shadow: var(--wtmInfoTextShadow);
}
.weatherTileMain .weatherInfo_date .time .period {
  margin-left: 4%;
  font-size: clamp(calc(var(--WeatherTiles_width) * 1.5vh * var(--wtmInfoFS_Period)), calc(var(--WeatherTiles_width) * 1vw * var(--wtmInfoFS_Period)), calc(var(--WeatherTiles_width) * 2.5vh * var(--wtmInfoFS_Period)));
  font-weight: 400;
}
/* Weather Image */
.weatherTileMain .weatherInfo_img {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 10% 0;
  width: 100%;
  height: 40%;
}
.weatherTileMain .weatherInfo_img img {
  height: 100%;
  filter: drop-shadow(var(--wtmInfoTextShadow))
}
/* Weather Temperature */
.weatherTileMain .weatherInfo_temp {
  display: grid;
  grid-template: 50% 50% / 50% 50%;
  grid-auto-flow: column;
  width: 100%;
  height: 30%;
}
.weatherTileMain .weatherInfo_temp > div {
  display: flex;
  width: 100%;
  height: 100%;
}
.weatherTileMain .weatherInfo_temp .tempDiv {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 1em;
  width: 100%;
  padding: 2% 0;
}
.weatherTileMain .weatherInfo_temp .tempDiv .tempDegree {
  align-self: flex-start;
  font-size: 0.75em;
  font-weight: 400;
}
.weatherTileMain .weatherInfo_temp .tempDiv .tempCelcius {
  align-self: flex-end;
  font-size: 0.75em;
  font-weight: 400;
}
.weatherTileMain .weatherInfo_temp .temp {
  align-items: flex-end;
  justify-content: flex-start;
  font-size: clamp(calc(var(--WeatherTiles_width) * 1.5vh * var(--wtmInfoFS_Temp)), calc(var(--WeatherTiles_width) * 1vw * var(--wtmInfoFS_Temp)), calc(var(--WeatherTiles_width) * 2.5vh * var(--wtmInfoFS_Temp)));
  font-weight: 600;
  text-shadow: var(--wtmInfoTextShadow);
}
.weatherTileMain .weatherInfo_temp .temp .tempDiv {
  justify-content: flex-start;
}
.weatherTileMain .weatherInfo_temp .tempName {
  align-items: flex-start;
  justify-content: flex-start;
  color: #ffffffbb;
  font-size: clamp(calc(var(--WeatherTiles_width) * 1.5vh * var(--wtmInfoFS_TempName)), calc(var(--WeatherTiles_width) * 1vw * var(--wtmInfoFS_TempName)), calc(var(--WeatherTiles_width) * 2.5vh * var(--wtmInfoFS_TempName)));
  font-weight: 300;
  text-shadow: var(--wtmInfoTextShadow);
}
.weatherTileMain .weatherInfo_temp .maxTemp {
  align-items: flex-end;
  justify-content: flex-end;
  font-size: clamp(calc(var(--WeatherTiles_width) * 1.5vh * var(--wtmInfoFS_MaxTemp)), calc(var(--WeatherTiles_width) * 1vw * var(--wtmInfoFS_MaxTemp)), calc(var(--WeatherTiles_width) * 2.5vh * var(--wtmInfoFS_MaxTemp)));
  font-weight: 600;
  text-shadow: var(--wtmInfoTextShadow);
}
.weatherTileMain .weatherInfo_temp .maxTemp .tempDiv .maxTempArrow {
  display: block;
  position: absolute;
  width: 0px;
  height: 0px;
  margin-right: 24%;
  border-bottom: 14px solid #1DCC00;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  filter: drop-shadow(1px 2px 1px #00000066);
}
.weatherTileMain .weatherInfo_temp .minTemp {
  align-items: flex-start;
  justify-content: flex-end;
  font-size: clamp(calc(var(--WeatherTiles_width) * 1.5vh * var(--wtmInfoFS_MinTemp)), calc(var(--WeatherTiles_width) * 1vw * var(--wtmInfoFS_MinTemp)), calc(var(--WeatherTiles_width) * 2.5vh * var(--wtmInfoFS_MinTemp)));
  font-weight: 600;
  text-shadow: var(--wtmInfoTextShadow);
}
.weatherTileMain .weatherInfo_temp .minTemp .tempDiv .minTempArrow {
  display: block;
  position: absolute;
  width: 0px;
  height: 0px;
  margin-right: 24%;
  border-top: 14px solid #F43D3D;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  filter: drop-shadow(1px 2px 1px #00000066);
}
/* Weather Hourly Info */
.weatherTileMain .weatherHourlyInfo {
  background: linear-gradient(0deg, #0000004D 0%, transparent 100%);
  padding: 0 calc(100% - 16.5vw - 6px);
  box-sizing: border-box;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  width: 100%;
  height: 30%;
}
.weatherTileMain .weatherHourlyInfo .weatherHourlyTile {
  margin-bottom: 0.32vw;
  position: relative;
  width: 4vw;
  height: 4vw;
}
.weatherTileMain .weatherHourlyInfo .weatherHourlyTile > img {
  position: absolute;
  width: 46%;
  top: 6%;
  left: 8%;
  filter: drop-shadow(var(--wtmHourlyTextShadow));
}
.weatherTileMain .weatherHourlyInfo .weatherHourlyTile .tempDiv {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  top: 50%;
  right: 8%;
  height: 1em;
  font-weight: 600;
  text-shadow: var(--wtmHourlyTextShadow);
}
.weatherTileMain .weatherHourlyInfo .weatherHourlyTile .tempDiv .tempDegree {
  align-self: flex-start;
  font-size: 0.75em;
  font-weight: 300;
  line-height: 0.95em;
}
.weatherTileMain .weatherHourlyInfo .weatherHourlyTile .tempDiv .tempCelcius {
  align-self: flex-end;
  font-size: 0.75em;
  font-weight: 300;
  line-height: 0.95em;
}
.weatherTileMain .weatherHourlyInfo .weatherHourlyTile .timeDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 4%;
  width: 100%;
  height: 1em;
  padding-left: 2%;
  font-weight: 600;
  text-shadow: var(--wtmHourlyTextShadow);
}
.weatherTileMain .weatherHourlyInfo .weatherHourlyTile .timeDiv .period {
  font-size: 0.65em;
  font-weight: 400;
  line-height: 0.8em;
  margin-left: 6%;
}
.weatherTileMain .weatherHourlyInfo .weatherHourlySeparation {
  background: linear-gradient(0deg, #ffffff 0%, transparent 100%);
  width: 2px;
  height: 5vw;
}