.searchBar {
  /* background-color: green; */
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 31vw;
  height: 9vh;
  top: 0;
  margin-top: 12vh; 
}
/* SearchBar Input */
.searchBarInput {
  background-color: #ffffff70;
  width: calc(30vw - 8vh);
  height: 8vh;
  padding-left: 6%;
  border-color: #00000010;
  border-width: 0px 2px 0px 0px;
  border-radius: 0.5vw 0px 0px 0.5vw;
  box-sizing: border-box;
  font-size: 2.5vh;
  transition: 0.15s ease-in-out;
}
.searchBar:hover .searchBarInput {
  background-color: #eee;
  width: calc((30vw - 8vh) * 1.05);
  height: calc(8vh * 1.05);
}
.searchBarInput:focus {
  background-color: #eee;
  width: calc((30vw - 8vh) * 1.05);
  height: calc(8vh * 1.05);
  outline: none;
  text-decoration: none;
  transition: 0.075s ease-in-out;
}
.searchBarInput:focus:active {
  background-color: #ffffffb0;
}
/* SearchBar Button */
.searchBarButton {
  background-color: #ffffff70;
  width: 8vh;
  height: 8vh;
  border: none;
  border-radius: 0px 0.5vw 0.5vw 0px;
  box-sizing: border-box;
  transition: 0.15s ease-in-out;
}
.searchBar:hover .searchBarButton {
  background-color: #eee;
  width: calc(8vh * 1.05);
  height: calc(8vh * 1.05);
}
.searchBarInput:focus + .searchBarButton {
  background-color: #eee;
  width: calc(8vh * 1.05);
  height: calc(8vh * 1.05);
}
.searchBarButton:hover {
  cursor: pointer;
  transition: 0.075s ease-in-out;
}
.searchBar:hover .searchBarButton:active {
  background-color: #ffffffb0;
}