.searchBar {
  background-color: #ffffff70;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  top: 0;
  margin-top: 12vh; 
  width: 30vw;
  height: 8vh;
  border-radius: 16px;
  transition: 0.15s ease-in-out;
}
.searchBar:hover {
  background-color: #eee;
  transform: scale(1.1);
}
.searchBarInput {
  background-color: #00000000;
  width: calc(100% - 8vh);
  height: 8vh;
  padding-left: 6%;
  border-color: #00000010;
  border-width: 0px 2px 0px 0px;
  box-sizing: border-box;
  font-size: 3vh;
}
.searchBarInput:focus {
  outline: none;
}