.weatherTile:nth-child(1) {
  grid-area: 1 / 1 / 3 / 2;
}
.weatherTile {
  background-color: #eee;
  display: block;
  flex-shrink: 0;
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 0.3vw;
  box-shadow: 0px 0px 12px -2px #000;
}
.tileId_1 {
  background: linear-gradient(170deg, rgba(0,159,255,1) 0%, rgba(89,215,248,1) 35%, rgba(183,230,240,1) 70%);
}
.tileId_2 {
  background: linear-gradient(170deg, rgba(186,49,49,1) 0%, rgba(203,77,56,1) 35%, rgba(236,117,44,1) 70%);
}
.tileId_3 {
  background: linear-gradient(170deg, rgba(26,1,79,1) 0%, rgba(43,7,120,1) 35%, rgba(58,12,156,1) 70%);
}