:root {
  --WeatherTilesHeight: calc()
}
.App {
  background: linear-gradient(145deg, rgba(9,84,116,1) 0%, rgba(39,5,94,1) 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}
.SearchBar {
  background-color: orange;
  position: absolute;
  top: 0;
  margin-top: 8vh; 
  width: 90vw;
  height: 64px;
}
.WeatherTiles {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
  margin-top: 20vh;
  width: 60vw;
  height: 25vw;
  min-width: 90vh;
  min-height: 37.5vh;
  max-width: 150vh;
  max-height: 62.5vh;
}