.App {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}
.weatherBackground {
  position: absolute;
  min-width: 100vw;
  min-height: 100vh;
  pointer-events: none;
}
.searchBar {
  background-color: green;
  display: block;
  position: absolute;
  width: 100vw;
  height: 10vh;
  top: 0;
}
.weather {
  background-color: orange;
  display: block;
  position: relative;
  width: 50vw;
  height: 60vh;
  filter: opacity(0);
}